@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:300i,400,400i,700,700i');

.sans-serif, html * {
  font-family: "Rubik";
}

.serif, .italic {
  font-family: 'Cormorant Garamond', serif;
}

.img-container .gatsby-image-outer-wrapper {
  width: 100%;
}